.tile{
    background-color: black;
    height: 5px;
    width: 5px;
    margin: 0px;
}
.water{
    background-color: blue;
    height: 5px;
    width: 5px;
    margin: 0px;

}
.land{
    background-color: green;
    height: 5px;
    width: 5px;
    margin: 0px;
}
.column{
    background-color: red;
    border:solid black 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
}